<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">   <!--Adding Google Supportted Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Yanone+Kaffeesatz" rel="stylesheet">
    
    <style>
      div.a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;                                            /*Adding font family for google fonts */
    }
      div.jumbotron{
    background-color:rgba(219, 209, 179, 0.555); 


    font-family: 'Yanone Kaffeesatz', sans-serif;
      }
    
    </style>
    <title>Django Data Viz</title>

    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}

  </head>
  <center><body>
      <div class='jumbotron'>
          <h1>Data Visualization w/ Django</h1>
          </div>
    <div class='container'>
        <div class="alert alert-success">
            <strong>This Works!</strong> <a href="https://github.com/ajojothepineapple/DjangoDataViz">Go to My GitHub Repo</a>
          </div>
    {% block content %}
    {% endblock content %}
    </div>
    {% include 'base/js.html' %}

    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>

  </body>
</center>
</html>