<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      div.a {
    font-family: "Georgia", serif; 
    font-size: 40px; 
    }
    
    </style>
    <title>Django Data Viz</title>

    {% include 'base/css.html' %}
    {% include 'base/bootstrap_defaults.html' %}

  </head>
  <center><body>
      <div class='jumbotron'>
          <h1>Data Vizualization w/ Django</h1>
          </div>
    <div class='container'>
        <div class="alert alert-success">
            <strong>This Works!</strong> <a href="https://github.com/ajojothepineapple/DjangoDataViz">Go to My GitHub Repo</a>
          </div>
    {% block content %}
    {% endblock content %}
    </div>
    {% include 'base/js.html' %}

    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>

  </body>
</center>
</html>